<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="shortcut icon" href="./assets/images/logo2.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Noto+Sans+TC:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info py-20 flex-column">
    <div class="container">
      <a class="navbar-brand pe-5" href="./index.html">
        <img src="./assets/images/logo.svg" alt="logo" width="170" class="d-none d-lg-block">
        <img src="./assets/images/logo2.svg" alt="mobile logo" width="24" class="d-lg-none">
      </a>
      <button class="navbar-toggler pe-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon d-none"></span>
        <span class="material-icons text-primary">
          menu
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-0 fs-18 align-items-center align-items-lg-start">
          <li class="nav-item">
            <a class="nav-link px-lg-4 py-4 py-lg-2" href="./index.html">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-4 py-4 py-lg-2 active" aria-current="page" href="./courses.html">課程介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-lg-4 pe-0 d-flex py-4 py-lg-2" href="#" data-bs-toggle="modal"
            data-bs-target="#signInModal">
              <span class="material-icons me-2 fs-5">
                account_circle
              </span>
              <span>
                登入
              </span>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-info rounded-0 position-absolute p-modal-content border">
                  <a class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" href="#"></a>
                  <h6 class="modal-title h4 fw-bold text-center">登入</h6>
                  <div class="modal-body p-modal-body px-0">
                    <form>
                      <div class="mb-3 mb-lg-4">
                        <label for="signInEmail" class="form-label fs-6 text-gray">信箱</label>
                        <input type="email" class="form-control px-3 py-2" id="signInEmail" placeholder="請輸入信箱">
                      </div>
                      <div class="mb-3 mb-lg-4">
                        <label for="signInPassword" class="form-label fs-6 text-gray">密碼</label>
                        <input type="password" class="form-control px-3 py-2" id="signInPassword" placeholder="請輸入密碼">
                      </div>
                    </form>
                    <a href="#" class="btn btn-gradient text-light w-100 py-2 rounded-8">登入</a>
                  </div>
                  <div class="text-center position-relative">
                    <h6 class="login-title text-gray mb-3">其他登入方式</h6>
                    <a href="#" class="text-light border rounded-2 btn-opacity py-2 ps-32 pe-56 mb-4 d-flex align-items-center justify-content-between">
                      <img src="./assets/images/icon_fb.svg" alt="#" width="24" class="d-inline-block text-start">
                      <span class="fs-6">Facebook登入</span>
                      <div></div>
                    </a>
                    <a href="#" class="text-light border rounded-2 btn-opacity py-2 ps-32 pe-56 d-flex align-items-center justify-content-between">
                      <img src="./assets/images/icon_google.svg" alt="#" width="24" class="d-inline-block text-start">
                      <span class="fs-6">Google登入</span>
                      <div></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 border-top border-2 border-primary"></div>
      <div class="col-6 border-top border-2 border-secondary"></div>
    </div>
  </div>



  <%- contents %>

    <footer class="footer">
      <div class="container-fluid py-4 font-mono text-center">
        <span class="fs-7 d-lg-none">Coding Home © 2022 All Rights Reserved</span>
        <span class="d-none d-lg-block">Coding Home © 2022 All Rights Reserved</span>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>