a {
    text-decoration: none;
    display: block;
    line-height: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

body {
    color: $light;
}